-r requirements-PROD.txt
autopep8==2.0.2
coverage==7.2.3
exceptiongroup==1.1.1
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
pycodestyle==2.10.0
pytest==7.2.2
pytest-mock==3.10.0
python-editor==1.0.4
setuptools==83.0.0
tomli==2.0.1
wheel==0.45.1